<footer class="light-bg full">
	<div class="wrapper">
		<div class="full content">
			<p class="uppercase center content mid-bg full"><a href="#" class="primary-txt">Like us</a> on facebook for exclusive offers and updates</p>
		</div>
		<nav class="full">
			<ul class="quarter content" ng-repeat="subnav in sitemap.sitemap.subnavs">
				<li><b>{{subnav.title}}</b></li>
				<li ng-repeat="sublink in subnav.sublinks"><a href="#">{{sublink.title}}</a></li>
			</ul>
			<ul class="quarter content">
				<li><b>Stay Connected</b></li>
				<li>
					<input type="email" class="fourfifth" placeholder="example@gmail.com"/>
					<input type="submit" class="submit primary-bg light-txt center fifth" value="GO"/>
				</li>
				<li class="social">
					<social></social>
				</li>
			</ul>
		</nav>
	</div>
</footer>