/*
----------------------------------
BASE STYLES
----------------------------------
Name	| Richard Smith
Email	| rsmith@finixcreative.com
Phone	| 617-417-2179
----------------------------------
*/

/* GENERAL STYLES */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s ease-in;
	transition: all .3s ease-in;
}
body {
	margin: 0px;
	overflow-x: hidden;
	overflow-y: scroll;
}
a {
	text-decoration: none;
}
h1 {
	font-size: 2.5em;
	line-height: 2em;
}
h2 {
	font-size: 2em;
	line-height: 2em;
}
h3 {
	font-size: 1.5em;
	line-height: 2em;
}
h4 {
	font-size: 1.2em;
	line-height: 2em;
}
p {
	font-size: 14px;
	line-height: 1.5em;
}
header {
	position: fixed;
	z-index: 999;
}
header nav ul {
	padding: 0;
	margin: 0;
	float: left;
}
header nav ul li {
	list-style-type: none;
	display: inline-block;
	float: left;
}
header nav ul li a {
	display: block;
}
header a {
	float: left;
}
header a:hover {}
nav ul li a:hover,
nav ul li a:active,
nav ul li a:visited,
nav ul li a:focus {
	text-decoration: none;
}
nav ul li a.active,
nav ul li a:active,
nav ul li a:focus {
	color: #444;
}
label {
	cursor: pointer;
}
input,
select {
	height: 40px;
	padding: 10px;
}
.button {
	background: none;
	color: #444;
	border: 2px solid #444;
	border-radius: 100px;
	display: block;
	cursor: pointer;
}
.button.alt {
	background: rgba(0,0,0,0.5);
	color: #fff;
	border: 2px solid #fff;
}
.button:hover,
.button:active,
.button:focus,
.button:checked {
	background: #fff;
	color: #f52;
	border: 2px solid #f52;
}
.cta,
.submit {
	padding: 15px 20px;
	font-weight: 700;
	text-transform: uppercase;
}
button:active, button:focus, button:hover,
input:active, input:focus, input:hover,
select:active, select:focus, select:hover {
	outline: none;
}
input[type=submit] {}
input[type=text] {
	display: inline-block;
}
footer {}
footer p a {}
footer p a:hover {
	color: #fff;
	text-decoration: underline;
}
.wrapper {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}
#content {
	width: 100%;
	padding: 113px 0 0 0;
}
.content {
	padding: 20px;
}
.content-short {
	padding: 5px 20px;
}
.subsection,
.row {
	background: #fff;
}
.subsection a:hover,
.row a:hover {
	text-decoration: none;
}
.subsection p a,
.row p a {
	font-weight: 700;
	color: #444;
}
.subsection p a:hover,
.row p a:hover {
	color: #f52;
}
.center {
	text-align: center;
}
.middle {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.capitalize {
	text-transform: capitalize;
}
.uppercase {
	text-transform: uppercase;
}
.right-float {
	float: right;
}
.bold {
	font-weight: 700;
}
.italics {
	font-size: 0.8em;
	font-style: italic;
}
.slide {
	padding: 40px 0;
	position: relative;
}
button#prev {
	left: 0;
}
button#next {
	right: 0;
}
button.slidenav {
	background: none;
	height: 100%;
	margin: 0;
	border: none;
	vertical-align: middle;
	position: absolute;
	top: 0;
	display: table-cell;
	z-index: 998;
}
button.slidenav:hover {
	cursor: pointer;
}
button.slidenav:focus {
	outline: none;
}


/* DEVICES */
@media screen and (max-width: 960px) {}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 640px), only screen and (-webkit-device-pixel-ratio: 2) {
	#content {
		top: 140px;
	}
}
@media screen and (max-width: 585px), only screen and (-webkit-device-pixel-ratio: 2) {}